*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: inherit;
}

.cowboy-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 80vmin;
    height: 80vmin;
}

.cowboy-head {
    position: absolute;
    width: 35vmin;
    height: 35vmin;
    left: 50%;
    transform: translateX(-50%);
    background: #f4c09a;
    border-radius: 30px;
}

.hat {
    position: absolute;
    width: 35vmin;
    height: 15vmin;
    background: #008792;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.hat:after {
    content: "";
    display: block;
    position: absolute;
    background: #235558;
    width: 55vmin;
    height: 1vmin;
    top: 14vmin;
    left: -10vmin;
}

.hair {
    position: absolute;
    top: 5vmin;
    left: 8vmin;
    width: 0;
    height: 0;
    border-top: 10vmin solid transparent;
    border-right: 10vmin solid transparent;
    border-bottom: 10vmin solid transparent;
    border-left: 10vmin solid #142f3c;
    z-index: 1;
    transform: rotate(-45deg);
}

.hair:after {
    content: "";
    display: block;
    position: absolute;
    top: -2.2vmin;
    left: -2vmin;
    width: 0;
    height: 0;
    border-top: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
    border-bottom: 5vmin solid transparent;
    border-left: 5vmin solid #142f3c;
    z-index: 1;
}

.left-eye {
    position: absolute;
    top: 16.5vmin;
    left: 2vmin;
    width: 2vmin;
    height: 2vmin;
    background: #aa6c5e;
    border-radius: 50%;
}

.right-eye {
    position: absolute;
    top: 17.25vmin;
    right: 6vmin;
    width: 4vmin;
    height: 0.5vmin;
    background: #aa6c5e;
    border-radius: 50px;
}

.ear {
    position: absolute;
    top: 15.5vmin;
    right: -2vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background: #f4c09a;
}

.mask {
    position: absolute;
    bottom: 0;
    width: 35vmin;
    height: 15vmin;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #BE2454;
}

.mask:before {
    content: "";
    display: block;
    position: absolute;
    right: -6vmin;
    width: 12vmin;
    height: 4vmin;
    border-radius: 50px;
    background: #6F0C26;
    z-index: -2;
}

.mask:after {
    content: "";
    display: block;
    position: absolute;
    top: 2vmin;
    right: -6vmin;
    width: 10vmin;
    height: 4vmin;
    background: #9A1A41;
    border-radius: 50px;
    transform: rotate(40deg);
    z-index: -2;
}

.fold {
    position: absolute;
    top: 4vmin;
    left: 2vmin;
    width: 25vmin;
    height: 0.5vmin;
    background: #A61945;
    border-radius: 100px;
}

.fold:after {
    content: "";
    display: block;
    position: absolute;
    top: 2vmin;
    left: 6vmin;
    width: 25vmin;
    height: 0.5vmin;
    background: #A61945;
    border-radius: 100px;
}