*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: inherit;
    background: #fdf59c;
}

.cowboy-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 80vmin;
    height: 80vmin;
}

.cowboy-head {
    position: absolute;
    width: 35vmin;
    height: 35vmin;
    left: 50%;
    transform: translateX(-50%);
    background: #f4c09a;
    border-radius: 40px;
}

.hat {
    position: absolute;
    width: 35vmin;
    height: 15vmin;
    background: #008792;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.hat:after {
    content: "";
    display: block;
    position: absolute;
    background: #235558;
    width: 55vmin;
    height: 1vmin;
    top: 14vmin;
    left: -10vmin;
    z-index: 2;
}

.hair {
    position: absolute;
    top: 5vmin;
    left: 8vmin;
    width: 0;
    height: 0;
    border-top: 10vmin solid transparent;
    border-right: 10vmin solid transparent;
    border-bottom: 10vmin solid transparent;
    border-left: 10vmin solid #142f3c;
    z-index: 1;
    transform: rotate(-45deg);
}

.hair:after {
    content: "";
    display: block;
    position: absolute;
    top: -2vmin;
    left: -2vmin;
    width: 0;
    height: 0;
    border-top: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
    border-bottom: 5vmin solid transparent;
    border-left: 5vmin solid #142f3c;
    z-index: 1;
}

.left-eye {
    position: absolute;
    top: 16.5vmin;
    left: 2vmin;
    width: 2vmin;
    height: 2vmin;
    background: #aa6c5e;
    border-radius: 50%;
}

.right-eye {
    position: absolute;
    top: 17.25vmin;
    right: 6vmin;
    width: 4vmin;
    height: 0.5vmin;
    background: #aa6c5e;
    border-radius: 50px;
}

.ear {
    position: absolute;
    top: 15.5vmin;
    right: -2vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background: #f4c09a;
}

.mask {
    position: absolute;
    bottom: 0;
    width: 35vmin;
    height: 15vmin;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: #BE2454;
}

.mask:before {
    content: "";
    display: block;
    position: absolute;
    right: -6vmin;
    width: 12vmin;
    height: 4vmin;
    border-radius: 50px;
    background: #6F0C26;
    z-index: -2;
}

.mask:after {
    content: "";
    display: block;
    position: absolute;
    top: 2vmin;
    right: -6vmin;
    width: 10vmin;
    height: 4vmin;
    background: #9A1A41;
    border-radius: 50px;
    transform: rotate(40deg);
    z-index: -2;
}

.fold {
    position: absolute;
    top: 4vmin;
    left: 2vmin;
    width: 25vmin;
    height: 0.5vmin;
    background: #A61945;
    border-radius: 100px;
}

.fold:after {
    content: "";
    display: block;
    position: absolute;
    top: 2vmin;
    left: 6vmin;
    width: 25vmin;
    height: 0.5vmin;
    background: #A61945;
    border-radius: 100px;
}

.left-hand, .right-hand {
    position: absolute;
    top: 40vmin;
    width: 32vmin;
    height: 21.2vmin;
    /* border: 1px solid black; */
    z-index: -1;
}

.left-hand .joint-1, .right-hand .joint-1 {
    position: absolute;
    right: 0;
    width: 16vmin;
    height: 8vmin;
    background: #152E3C;
    border-radius: 50px;
}

.left-hand .connect, .right-hand .connect {
    position: absolute;
    /* border: 1px solid black; */
    width: 30vmin;
    height: 8vmin;
    top: 7vmin;
    right: 7vmin;
    z-index: -2;
    /* transform-origin: right; */
    transform: rotate(-40deg);
}

.left-hand .connect .joint-2, .right-hand .connect .joint-2 {
    position: absolute;
    right: 0;
    width: 16vmin;
    height: 8vmin;
    background: #152E3C;
    border-radius: 50px;
    z-index: -2;
}

.left-hand .connect .palm, .right-hand .connect .palm {
    position: absolute;
    /* top: 8vmin; */
    left: 1.9vmin;
    width: 14vmin;
    height: 8vmin;
    background: #f4c09a;
    border-radius: 50px;
}

.left-hand .connect .palm:after, .right-hand .connect .palm:after {
    content: "";
    display: block;
    position: absolute;
    top: 2.4vmin;
    right: -2vmin;
    width: 7vmin;
    height: 3.2vmin;
    background: #E89582;
    border-radius: 50px;
    z-index: -1;
}

.left-hand .connect .palm:before, .right-hand .connect .palm:before {
    content: "";
    display: block;
    position: absolute;
    top: 3.2vmin;
    /* left: 7vmin; */
    right: 2.2vmin;
    width: 3.5vmin;
    height: 7vmin;
    background: #f4c09a;
    border-radius: 50px;
    z-index: -1;
}

.left-hand {
    top: 23.2vmin;
    /* left: -1.2vmin; */
}

.right-hand {
    transform: rotate3d(0, 1, 0, 180deg);
    right: -1.2vmin;
    top: 23.2vmin;
}

.torso {
    position: absolute;
    left: 36%;
    top: 27vmin;
    width: 25vmin;
    height: 20vmin;
    border-radius: 25px;
    background: #152E3C;
    overflow: hidden;
    z-index: -1;
}

.torso:before {
    content: "";
    display: block;
    position: absolute;
    top: 11.5vmin;
    width: 25vmin;
    height: 3vmin;
    background: #BC7665;
}

.torso:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5vmin;
    left: 4vmin;
    width: 8.5vmin;
    height: 5vmin;
    border-radius: 14px;
    background: #B7C7D5;
}

.holster {
    position: absolute;
    top: 37.6vmin;
    right: 24vmin;
    width: 3.8vmin;
    height: 11.4vmin;
    background: #72443C;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.holster:before {
    content: "";
    display: block;
    position: absolute;
    top: -1.4vmin;
    left: 0.5vmin;
    background: #7A95A7;
    width: 9vmin;
    height: 3.5vmin;
    z-index: -1;
    border-radius: 40px;
}

.holster:after {
    content: "";
    display: block;
    position: absolute;
    left: 1.5vmin;
    width: 4vmin;
    height: 4vmin;
    border: 4px solid #7A95A7;
    border-radius: 50%;
    z-index: -2;
}

.left-leg, .right-leg {
    position: absolute;
    top: 43.2vmin;
    left: 18.2vmin;
    width: 18vmin;
    height: 15vmin;
    /* border: 1px solid black; */
    z-index: -2;
}

.left-leg .joint, .right-leg .joint {
    position: absolute;
    width: 16vmin;
    height: 8vmin;
    right: 0;
    border-radius: 30px;
    border-top-left-radius: 34px;
    background: #152E3C;
    transform: rotate(-40deg);
}

.left-leg .connect, .right-leg .connect {
    position: absolute;
    top: 5vmin;
    right: 1.4vmin;
    width: 16vmin;
    height: 10vmin;
    /* border: 1px solid black; */
}

.left-leg .connect .boot, .right-leg .connect .boot {
    position: absolute;
    right: 6vmin;
    width: 7.6vmin;
    height: 10vmin;
    background: #152E3C;
    /* background: red; */
    border-top-left-radius: 10px;
}

.left-leg .connect .boot:before, .right-leg .connect .boot:before {
    content: "";
    display: block;
    position: absolute;
    top: 4vmin;
    width: 7.6vmin;
    height: 6vmin;
    background: #A26459;
}

.left-leg .connect .boot:after, .right-leg .connect .boot:after {
    content: "";
    display: block;
    position: absolute;
    top: 6vmin;
    right: 2vmin;
    width: 8vmin;
    height: 4vmin;
    background: #C67A6A;
    border-radius: 70px 70px 0 0;
}

.left-leg .connect .wheel, .right-leg .connect .wheel {
    position: absolute;
    top: 5.4vmin;
    right: 0;
    width: 3.8vmin;
    height: 3.8vmin;
    background: #8E99A3;
    border-radius: 50%;
}

.left-leg .connect .wheel:before, .right-leg .connect .wheel:before {
    content: "";
    display: block;
    position: absolute;
    top: 1.5vmin;
    right: 2.6vmin;
    width: 3.8vmin;
    height: 1.1vmin;
    background: #8E99A3;
    z-index: -1;
}

.right-leg {
    transform: rotate3d(0, 1, 0, 180deg);
    left: 46.2vmin;
}

.ground {
    position: absolute;
    left: 50%;
    top: 55vmin;
    transform: translate(-50%);
    background: #FED883;
    border-radius: 100px;
    width: 90vmin;
    height: 5.5vmin;
    z-index: -3;
}

.ground:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 2vmin;
    right: 12vmin;
    background: #FED883;
    border-radius: 100px;
    width: 2.6vmin;
    height: 12vmin;
}

.ground:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 9vmin;
    right: 7.5vmin;
    background: #FED883;
    border-radius: 100px;
    width: 12vmin;
    height: 2.6vmin;
}