*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: inherit;
}

.cowboy-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 80vmin;
    height: 80vmin;
}

.cowboy-head {
    position: absolute;
    width: 35vmin;
    height: 35vmin;
    left: 50%;
    transform: translateX(-50%);
    background: #f4c09a;
    border-radius: 30px;
}