*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    box-sizing: inherit;
}

.vlogger-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 80vmin;
    height: 80vmin;
}

.vlogger-head {
    position: absolute;
    left: 34vmin;
    width: 12vmin;
    height: 21.5vmin;
    background: #F4C09B;
    border-radius: 100px;
}

.cap {
    position: absolute;
    width: 12vmin;
    height: 8.8vmin;
    background: #E62F65;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.cap:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18vmin;
    height: 0.5vmin;
    background: #BB1F4A;
}

.cap:after {
    content: "";
    display: block;
    position: absolute;
    left: 4vmin;
    bottom: 0.9vmin;
    width: 4vmin;
    height: 3vmin;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #142F3C;
}

.hair {
    position: absolute;
    top: 4.96vmin;
    left: 4.1vmin;
    width: 0;
    height: 0;
    border-top: 3.8vmin solid transparent;
    border-right: 3.8vmin solid transparent;
    border-bottom: 3.8vmin solid transparent;
    border-left: 3.8vmin solid #142F3C;
    transform: rotate(-45deg);
}

.hair:after {
    content: "";
    display: block;
    position: absolute;
    top: -1.2vmin;
    left: -1.2vmin;
    width: 0;
    height: 0;
    border-top: 1.9vmin solid transparent;
    border-right: 1.9vmin solid transparent;
    border-bottom: 1.9vmin solid transparent;
    border-left: 1.9vmin solid #142F3C;
}

.left-ear {
    position: absolute;
    top: 8.8vmin;
    left: -1.5vmin;
    width: 3vmin;
    height: 3vmin;
    background: #E78074;
    border: 0.86vmin solid #F4C09B;
    border-radius: 50%;
    z-index: -1;
}

.right-ear {
    position: absolute;
    top: 8.8vmin;
    right: -1.5vmin;
    width: 3vmin;
    height: 3vmin;
    background: #E78074;
    border: 0.86vmin solid #F4C09B;
    border-radius: 50%;
    z-index: -1;
}

.left-eye {
    position: absolute;
    top: 9.8vmin;
    left: 1vmin;
    width: 1.5vmin;
    height: 1.5vmin;
    background: #142F3C;
    border-radius: 50%;
}

.right-eye {
    position: absolute;
    top: 9.8vmin;
    right: 1vmin;
    width: 1.5vmin;
    height: 1.5vmin;
    background: #142F3C;
    border-radius: 50%;
}

.left-nostril {
    position: absolute;
    left: 4.6vmin;
    top: 15vmin;
    width: 0.9vmin;
    height: 0.9vmin;
    border-radius: 100px;
    background: #E78074;
}

.right-nostril {
    position: absolute;
    left: 6.6vmin;
    top: 15vmin;
    width: 0.9vmin;
    height: 0.9vmin;
    border-radius: 100px;
    background: #E78074;
}

.mouth-container {
    position: absolute;
    top: 15.3vmin;
    left: 5.8vmin;
    width: 4.4vmin;
    height: 4.4vmin;
    /* border: 1px solid black; */
    transform: scale(0.85);
}

.mouth {
    position: absolute;
    width: 4.4vmin;
    height: 4.4vmin;
    background: transparent;
    border-bottom-right-radius: 100px;
    border-right: 1vmin solid #E78074;
    border-bottom: 1vmin solid #E78074;
}

.mouth-left-end {
    position: absolute;
    top: 3.3vmin;
    left: -0.5vmin;
    width: 0.9vmin;
    height: 0.9vmin;
    background: #E78074;
    border-radius: 100px;
}

.mouth-right-end {
    position: absolute;
    top: -0.5vmin;
    left: 3.3vmin;
    width: 0.9vmin;
    height: 0.9vmin;
    background: #E78074;
    border-radius: 100px;
}

/* height: 12.7vmin   --> half is 6.35vmin */

.left-hand {
    position: absolute;
    top: 16.2vmin;
    width: 9vmin;
    height: 45vmin;
    border: 1px solid black;
}

.left-hand .connect {
    position: absolute;
    width: 9vmin;
    height: 45vmin;
    background: #F58020;
    border-radius: 100px;
}

.left-hand .connect .sleeve {
    position: absolute;
    left: -1.2vmin;
    bottom: 10vmin;
    width: 11vmin;
    height: 2vmin;
    background: #FBA919;
}

.torso {
    position: absolute;
    top: 13.5vmin;
    left: 25vmin;
    width: 30vmin;
    height: 30vmin;
    background: #FBA919;
    border-radius: 40vmin;
    z-index: -1;
    overflow: hidden;
}

.torso:before {
    content: "";
    display: block;
    position: absolute;
    top: 17vmin;
    width: 30vmin;
    height: 13vmin;
    background: #C42754;
}

.torso:after {
    content: "";
    display: block;
    position: absolute;
    top: 10vmin;
    left: 2vmin;
    width: 5vmin;
    height: 1vmin;
    background: #F1821D;
    border-radius: 20px;
}